body {
  font-family: Arial;
  margin: 0;
  background: #f1f5f9;
}

header {
  background: #0f172a;
  color: white;
  padding: 15px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
